# {{ansible_managed}}
# What ports, IPs and protocols we listen for
Port 22
Protocol 2

# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
KeyRegenerationInterval 3600
ServerKeyBits 1024

#Privilege Separation is turned on for security
UsePrivilegeSeparation yes

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
UsePAM yes
LoginGraceTime 120
PermitRootLogin yes
StrictModes yes
RSAAuthentication yes
PubkeyAuthentication yes
HostbasedAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
PasswordAuthentication no
IgnoreRhosts yes
RhostsRSAAuthentication no

# Various options
X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
TCPKeepAlive yes

# Keepalives
ClientAliveInterval 300
ClientAliveCountMax 2

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Subsystems like SFTP
{% if ansible_os_family == "Debian" %}
Subsystem sftp /usr/lib/openssh/sftp-server
{% else %}
Subsystem sftp /usr/libexec/openssh/sftp-server
{% endif %}

# {{ansible_managed}}