# config/puma.rb
threads 1, 6
workers 2

on_worker_boot do
  require "active_record"
  cwd = File.dirname(__FILE__)+"/../.."
  ActiveRecord::Base.connection.disconnect! rescue ActiveRecord::ConnectionNotEstablished
  ActiveRecord::Base.establish_connection(ENV["DATABASE_URL"] || YAML.load_file("#{cwd}/config/database.yml")["production"])
end

bind 'unix:///data/{{item}}/shared/tmp/sockets/puma_asrc-app.sock'
environment 'production'
pidfile "/data/{{item}}/shared/tmp/puma.pid"
state_path "/data/{{item}}/shared/tmp/sockets/puma.state"

rackup '/data/{{item}}/current/config.ru'

activate_control_app