server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;

  root /var/www/ryanbigg.com/_site;
  index index.html index.htm;

  # Make site accessible from http://ryanbigg.com/
  server_name ryanbigg.com;
}